* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.cabeçalho {   
    background-color: #2f3640;
    padding: 16px 0;
}

header .container {
    display: flex;
}

header li {
    display: inline;
}

.container {
    width: 1366px;
    margin: 0 auto;

}

.articles {
    
}

